{{> nav/nav-block}}

<main>
   <div class="cake-page">
     <div class="cake-top-section">
       <div class="cake-title"></div>
       <div class="cake-image"></div>
     </div>
    <div class="cake-details">
      <div>
        Cake creator profile image
        <h3 class="user-profile-link">Cake Creator (links to userprofile)</h3>
      </div>
      <div>

      </div>
    </div>
    <div class="cake-stats">
      <div class="cake-ingredients-container">Cake Ingredients</div>
      <div class="cake-instructions-container">Cake Instructions</div>
    </div>
    <div class="cake-comments">
      <div class="form-group">
            <label for="exampleFormControlTextarea1">Add a Comment: </label><br>
            <textarea class="form-control" id="cake-comment-add" rows="2"></textarea>
            <button type="submit" id="submit-comment" class="btn btn-primary">Submit</button>
          </div>
      <div class="comments">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, veritatis.</p>
      </div>
    </div>
   </div>
</main>