{{> nav/nav-block}}

<main>
   <div class="cake-page">
     <div class="cake-top-section">
       <div class="cake-title">
         <h2>Chocolate Cake</h2>
         <h3 class="cake-difficulty-rating">Difficulty Rating: 2</h3>
         <div class="cake-creator-box" id="adamgates">
        <div class="creator-image" style="background-image:url('https://i.ibb.co/D8sLYHh/adamgates.jpg');background-size:cover;background-repeat:no-repeat;background-position:center;"></div>
        <div class="creator-details">
          <p>Submitted by: Adam Gates</p>
          <p class="creator-subtitle">Click Here to visit User Profile!</p>
        </div>
      </div>
       </div>
       <div class="cake-image" style="background-image:url('https://i.ibb.co/n7Ts0Wp/chocolatecake.jpg');background-size:cover;background-repeat:no-repeat;background-position:center;"></div>
     </div>
    <div class="cake-details">
      <h3>Instructions: </h3>
      <div class="cake-instructions-container"><ol type="1"><li>Heat oven and prepare pans: Preheat oven to 350 degrees. Butter two 9-inch round cake pans then line bottom of each with a round of parchment paper. Butter parchment paper. Wrap cake pans with baking strips for the most level cake.</li><li>Mix dry ingredients, then mix in boiling water: In a large, heat proof mixing bowl, whisk together granulated sugar brown sugar, cocoa powder, baking soda and salt. Carefully pour boiling water in to cocoa mixture and immediately whisk to blend well. Allow to cool 5 minutes.</li><li>Mix in wet ingredients: Using an electric hand mixer set on low speed blend in vegetable oil and melted butter until combined. Add eggs, egg yolks and vanilla extract and blend just to combined. Then add flour and blend until combined, and finish by blending in milk and sour cream just until combined.</li><li>Pour into pans and bake: Divide mixture evenly among 2 prepared pans. Bake in preheated oven until toothpick inserted into center of cake comes out clean, about 29 – 34 minutes.</li><li>Cool: Allow to cool in pan 5 minutes, run butter knife around edge of cake and invert onto a wire rack and allow to cool completely.</li><li>Frost: Add frosting to top of one round then top with second cake and frost top and sides of cake. Store in an airtight container.</li></ol></div>
    </div>
    <div class="cake-stats">
      <h3>Ingredients: </h3>
      <div class="cake-ingredients-container"><li>Granulated sugar, brown sugar and powdered</li><li>Cocoa powder</li><li>Baking Soda</li><li>Salt</li><li>Boiling water</li><li>Vegetable Oil</li><li>Unsalted butter</li><li>Eggs and egg yolks</li><li>Vanilla extract</li><li>All purpose flour</li><li>Sour cream</li><li>Milk</li></div>
    </div>
    <div class="cake-comments">
      <div class="form-group">
            <label>Add a Comment: </label><br>
            <textarea class="form-control" id="cake-comment" rows="2"></textarea>
            <button type="submit" id="submit-comment" class="btn btn-primary">Submit</button>
          </div>
      {{#each comment}}
      <div class="comments">
        <ul>
          {{comments.body}}
        </ul>
      </div>
      {{else}}
      <div class="comments">
        <ul>
          <li>I found this to be an excellent recipe to make, and the sour cream gives the cake a nice tartness.</li>
        </ul>
      </div>
      {{/each}}
    </div>
   </div>
</main>