{{> nav/nav-block}}

<main>
    <div class="home-previews">
      <div class="cake-preview">
        <div class="cake-imgcontainer"></div>
        <div class="cake-textcontainer"></div>
      </div>
    </div>
</main>
  
{{> modal/login-block}}
