{{> nav/nav-block}}

<main>
    <div class="home-previews">
      <div>
        <div class="box"></div>
        <div class="preview-text"></div>
      </div>
      <div>
        <div class="box"></div>
        <div class="preview-text"></div>
      </div>
      <div>
        <div class="box"></div>
        <div class="preview-text"></div>
      </div>
      <div>
        <div class="box"></div>
        <div class="preview-text"></div>
      </div>
      <div>
        <div class="box"></div>
        <div class="preview-text"></div>
      </div>
    </div>
  </main>

    <div>
      {{#if isloggedin}}
        You are logged in as {{user.firstName}}
        <a href="/logout"> <button type="btn" class="btn">Logout</button></a>
      {{else}}
        <p>No user logged in.</p>
      {{/if}}
    </div>

{{> modal/login-block}}
