{{> nav/nav-block}}

<main>
   <div class="cake-page">
     <div class="cake-top-section">
       <div class="cake-title">
         <h2>Red Velvet Cake</h2>
         <h3 class="cake-difficulty-rating">Difficulty Rating: 7</h3>
              <div class="cake-creator-box" id="marklee">
        <div class="creator-image" style="background-image:url('https://i.ibb.co/G2jZHt0/marklee.jpg');background-size:cover;background-repeat:no-repeat;background-position:center;"></div>
        <div class="creator-details">
          <p>Submitted by: Mark Lee</p>
          <p class="creator-subtitle">Click Here to visit User Profile!</p>
        </div>
      </div>
       </div>
       <div class="cake-image" style="background-image:url('https://i.ibb.co/QjfZJnT/redvelvetcake.jpg');background-size:cover;background-repeat:no-repeat;background-position:center;"></div>
     </div>
    <div class="cake-details">
      <h3 class="cake-difficulty-rating">Difficulty: 7</h3>
      <h3>Instructions: </h3>
      <div class="cake-instructions-container"><ol type="1"><li>Preheat oven to 350째F (177째C). Spray two 9-inch cake pans well with nonstick cooking spray, line the bottoms of the pans with parchment paper, and set aside.</li><li>In a large mixing bowl, whisk together the cake flour, cocoa powder, baking soda, and salt. Then sift the dry ingredients to remove any lumps of cocoa powder. Set aside.</li><li>In the bowl of a stand mixer fitted with the paddle attachment, or in a large mixing bowl using an electric mixer, cream together the butter and sugar on medium speed for 4-5 minutes. Add the eggs and mix until fully combined, then mix in the oil, red food color, vanilla extract, and vinegar stopping to scrape down the sides of the bowl as needed.</li><li>Mix in the dry ingredients in three additions alternating with the buttermilk, starting and ending with the dry ingredients. Make sure to mix each addition until just combined and be careful not to over mix the batter.</li><li>Evenly distribute the cake batter between the two prepared cake pans and spread the batter around into one even layer. Tap the pans on the counter 2-3 times to remove any air bubbles from the cakes.</li><li>Bake at 350째F (177째C) for 28-32 minutes or until a toothpick inserted into the center of the cakes comes out clean. Carefully remove from the oven and place on a wire rack to cool in the pans for 15-20 minutes. Then, carefully remove the cakes from the cake pans and place on the wire rack to cool completely. </li><li>To make the cream cheese frosting:</li><li>In the bowl of a stand mixer fitted with the paddle attachment, or in a large mixing bowl using an electric mixer, beat the cream cheese until smooth. Add the butter and mix for about 30 seconds-1 minute until well combined and smooth.</li><li>Mix in the powdered sugar and vanilla extract and continue mixing until fully combined, scraping down the sides of the bowl as needed.</li><li>To assemble the cake</li><li>Level the tops of each cake with a knife or cake leveler. Place one of the cake layers on a cake stand or plate, top with a layer of frosting, and smooth it out into one even layer. Place the second layer on top, then use the remaining frosting to frost the top and sides of the cake.</li></ol></div>
    </div>
    <div class="cake-stats">
      <h3>Ingredients: </h3>
      <div class="cake-ingredients-container"><li>2 and 2/3 cups (295 grams) cake flour (spooned & leveled)</li><li>1/4 cup (22 grams) natural unsweetened cocoa powder</li><li>1 teaspoon baking soda</li><li>1/2 teaspoon salt</li><li>1/2 cup (115 grams) unsalted butter softened to room temperature</li><li>1 and 3/4 cups (350 grams) granulated sugar</li><li>2 large eggs room temperature</li><li>1/2 cup (120 ml) canola or vegetable oil</li><li>1 (1-ounce) bottle liquid red food color</li><li>2 teaspoons pure vanilla extract</li><li>1 teaspoon distilled white vinegar</li><li>1 and 1/3 cups (320 ml) buttermilk room temperature</li><li>For the cream cheese frosting:</li><li>12 ounces cream cheese softened</li><li>3/4 cup (175 grams) unsalted butter softened to room temperature</li><li>3 cups (360 grams) powdered sugar</li><li>1 and 1/2 teaspoons pure vanilla extract</li></div>
    </div>
    <div class="cake-comments">
      <div class="form-group">
            <label>Add a Comment: </label><br>
            <textarea class="form-control" id="cake-comment" rows="2"></textarea>
            <button type="submit" id="submit-comment" class="btn btn-primary">Submit</button>
          </div>
      {{#each comment}}
      <div class="comments">
        <ul>
          {{comments.body}}
        </ul>
      </div>
      {{else}}
      <div class="comments">
        <ul>
          <li>The cake was a bit complicated, but I was able to follow through. Can I substitute the the cream cheese frosting?</li>
        </ul>
      </div>
      {{/each}}
    </div>
   </div>
</main>