@import url('https://fonts.googleapis.com/css?family=Cutive');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

*{
  font-family: "Varela Round";
}

body{
  background-color: #ffa1fd;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23e691e4' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23e691e4' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

h1{
  font-family: "Cutive";
}

header{
  display: grid;
  grid-gap: 5px;
  margin: 20px auto;
  width: 900px;
  height: 200px;
  padding: 1em;
  background-color: white;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  & .title-box{
    display: flex;

    & h1{
      align-self: flex-end;
      color: rgb(63, 39, 0);
      font-family: "Cutive";
      font-size: 3em;
    }
  }

  & .header-box{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;

    & .header-button{
      align-self: center;
      background-color: lightgrey;
      font-family: "Varela Round";
      width: 100px;
      height: 50px;
      text-align: center;
      border-radius: .5em;
    }
  }
}

.home-previews{
  display: grid;
  margin: auto;
  padding: 1em;
  margin-bottom: 1em;
  width: 900px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;

  & div{
    background-color: lightgrey;
    width: 90%;
    padding: .75em;
    margin: auto;

    & .box{
      display: block;
      background-color: white;
      width: 90%;
      height: 300px;
      margin: auto;
    }

    & .preview-text{
      display: block;
      background-color: white;
      width: 90%;
      height: 40px;
      margin: auto;
      margin-top: 10px;
    }
  }
}

.profile-self{
  display: grid;
  margin: 1em auto;
  padding: 1em;
  width: 900px;

  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  grid-template-areas:
  "a b"
  "c c";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 350px auto;
  grid-gap: 15px;

  & .profile-upsecA{
    grid-area: a;
    background-color: lightgrey;
  }

  & .profile-upsecB{
    background-color: lightgrey;
    grid-area: b;

    & .profile-stats{
        margin: 1em;
      }
  }

  & .profile-lowsec{
    grid-area: c;
    background-color: lightgrey;

    & .comments-section{
      margin: auto;
      background-color: lightgrey;
      width: 95%;
      padding: 1em;

      & .comments{
        margin: 10px auto;
        width: 100%;
        height: 60px;
        border-radius: .3em;
        background-color: white;
      }
    }
  }

  & .profile-box{
    margin: 1em auto;
    width: 85%;
    height: 100px;
    background-color: white;
  }
}


.cake-page{
  display: grid;
  position: relative;
  margin: auto;
  padding: 1em;
  margin-top: 7em;
  margin-bottom: 1em;
  width: 900px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  grid-template-areas:
  "d s"
  "c c";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 600px auto;
  grid-gap: 15px;
}

.cake-top-section{
  display: block;
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  height: 200px;
  width: 930px;
  top: -70px;
  right: -20px;
}

.cake-image{
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  background-color:lightblue;
  width: 190px;
  height: 190px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cake-title{
  position: absolute;
  top: 50px;
  z-index: 2;
  background-color: grey;
  width: 800px;
  height: 90px;
  border-radius: 3em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cake-details{
  grid-area: d;
  background-color: lightgrey;
  height: 100%;
}

.cake-stats{
  grid-area: s;
  background-color: lightgrey;
  height: 100%;
}

.cake-comments{
  grid-area: c;
  background-color: lightgrey;

  & .form-group{
    padding: 1em;
  }

  & .comments{
    margin: 10px auto;
    width: 96%;
    height: 60px;
    border-radius: .3em;
    background-color: white;
    padding: 1em;
  }
}

//Need to Fix: 

.form-group{
  font-family: "Varela Round";
}

.modal-title{
  font-family: "Varela Round";
}

.header-box{
  font-family: "Varela Round";
}

@media only screen and (max-width: 942px) {

  header{
    width: 90%;
  }

  .home-previews{
    width: 90%;
  }


  .profile-self{
    width: 90%;
  }

  .cake-page{
    width: 90%;
  }
  
  .cake-top-section{
    display: block;
    z-index: 2;
    position: absolute;
    margin: 0 auto;
    height: 200px;
    width: 100%;
    top: -70px;
    right: -20px;
  }

  .cake-title{
    left: -30px; //change
    width: 100%; //change
  }
}