@import url('https://fonts.googleapis.com/css?family=Cutive');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

*{
  font-family: "Varela Round";
}

body{
  background-color: #F7E7E6;
}

h1{
  font-family: "Cutive";
}

header{
  display: grid;
  grid-gap: 5px;
  margin: 20px auto;
  width: 900px;
  height: 200px;
  padding: 1em;
  background-color: #fff9f0;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  & .title-box{
    display: flex;

    & h1{
      align-self: flex-end;
      color: rgb(63, 39, 0);
      font-family: "Cutive";
      font-size: 3em;
    }
  }

  & .header-box{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;

    & .header-button{
      align-self: center;
      background-color: rgb(63, 39, 0);
      font-family: "Varela Round";
      width: 100px;
      text-align: center;
      border-radius: .5em;
      
      & a{
        text-decoration: none;
        color: white;
      }
    }
  }
}

.home-previews{
  display: grid;
  margin: auto;
  padding: 1em;
  margin-bottom: 1em;
  width: 900px;
  background-color:  #fff9f0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;

  & div{
    background-color:  white;
    width: 90%;
    padding: .75em;
    margin: auto;

    & .box{
      display: block;
      background-color:  #fff9f0;
      width: 90%;
      height: 300px;
      margin: auto;
    }

    & .preview-text{
      display: block;
      background-color:  #fff9f0;
      width: 90%;
      height: 40px;
      margin: auto;
      margin-top: 10px;
    }
  }
}

.profile-self{
  display: grid;
  margin: 1em auto;
  padding: 1em;
  width: 900px;

  background-color:  #fff9f0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  grid-template-areas:
  "a b"
  "c c";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 500px auto;
  grid-gap: 15px;

  & .profile-upsecA{
    grid-area: a;
    background-color:  #fff9f0;
  }

  & .profile-upsecB{
    background-color:  #fff9f0;
    grid-area: b;

    & .profile-stats{
        margin: 1em;
      }
  }

  & .profile-lowsec{
    grid-area: c;
    background-color:  #fff9f0;

    & .comments-section{
      margin: auto;
      background-color:  #fff9f0;
      width: 95%;
      padding: 1em;

      & .comment-submit{
        padding: 1em 0;

        & #submit-comment{
          float: right;
          margin: 1em 0;
        }
      }

      & .comments{
        clear: both;
        margin: 10px auto;
        width: 100%;
        height: 60px;
        border-radius: .3em;
        background-color:  #fff9f0;
      }
    }
  }

  & .profile-box{
    margin: 1em auto;
    width: 85%;
    height: 100px;
    background-color:  #fff9f0;
  }
}

.profile-img img{
  width: 200px;
}

.cake-page{
  display: grid;
  position: relative;
  margin: auto;
  padding: 1em;
  margin-top: 7em;
  margin-bottom: 1em;
  width: 900px;
  background-color:  #fff9f0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  grid-template-areas:
  "d s"
  "c c";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 600px auto;
  grid-gap: 15px;
}

.cake-top-section{
  display: block;
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  height: 200px;
  width: 930px;
  top: -70px;
  right: -20px;
}

.cake-image{
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  background-color:lightblue;
  width: 190px;
  height: 190px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cake-title{
  position: absolute;
  top: 50px;
  z-index: 2;
  background-color: grey;
  width: 800px;
  height: 90px;
  border-radius: 3em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cake-details{
  grid-area: d;
  padding-top: 150px;
  background-color:  #fff9f0;
  height: 100%;
}

.cake-stats{
  grid-area: s;
  text-align: right;
  padding-top: 150px;
  background-color:  #fff9f0;
  height: 100%;
}

.cake-comments{
  grid-area: c;
  background-color:  #fff9f0;

  & .form-group{
    padding: 1em;
  }

  & .comments{
    margin: 10px auto;
    width: 96%;
    height: 60px;
    border-radius: .3em;
    background-color:  #fff9f0;
    padding: 1em;
  }
}

.cake-submission-container{
  margin: 1em auto;
  background-color:  #fff9f0;
  width: 900px;
  padding: 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.register-container{
  margin: 1em auto;
  background-color:  #fff9f0;
  width: 900px;
  padding: 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  & .register-title-section{
    padding: 1em 0;
    padding-bottom: 2em;
  }

  & h1{
    font-size: 1.5em;
  }

  & h1, h3{
    font-family: "Varela Round";
  }
}

//Need to Fix:

.modal{
  font-family: "Varela Round";
}

.form-group{
  font-family: "Varela Round";
}

.modal-title{
  font-family: "Varela Round";
}

.header-box{
  font-family: "Varela Round";
}

.hidden-form, .imgbb-container{
  display: none;
}

#image-preview{
  object-fit: cover;
  height: 150px;
  margin: 1em 0;
}

#profile-image-file{
  object-fit: cover;
  height: 200px;
  width: 200px;
  margin: 1em 0;
}

.ingredient-entry, .instruction-entry{
  padding: 1em 0;
}

.original-userbio{
  padding: 1em 0;
}

.error-container div{
  background-color: #fff9f0;
  border-radius: .5em;

  & h1{
    color:rgb(63, 39, 0);
  }
}

@media only screen and (max-width: 942px) {

  body{
    min-width: 300px;
  }

  header{
    width: 90%;
  }

  .home-previews{
    width: 90%;
  }

  .profile-self{
    width: 90%;
  }

  .cake-page{
    width: 90%;
  }

  .cake-submission-container{
    width: 90%;
  }

  .register-container{
    width: 90%;
  }
  
  .cake-top-section{
    display: block;
    z-index: 2;
    position: absolute;
    margin: 0 auto;
    height: 200px;
    width: 100%;
    top: -70px;
    right: -20px;
  }

  .cake-title{
    left: -30px; //change
    width: 100%; //change
  }
}