@import url("https://fonts.googleapis.com/css?family=Cutive");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
* {
  font-family: "Varela Round";
}

body {
  background-color: #F7E7E6;
}

h1 {
  font-family: "Cutive";
}

header {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  margin: 20px auto;
  width: 900px;
  height: 200px;
  padding: 1em;
  background-color: #fff9f0;
  -ms-grid-columns: 4fr 1fr 1fr 1fr;
      grid-template-columns: 4fr 1fr 1fr 1fr;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

header .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .title-box h1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #3f2700;
  font-family: "Cutive";
  font-size: 3em;
}

header .header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
}

header .header-box .header-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #3f2700;
  font-family: "Varela Round";
  width: 100px;
  text-align: center;
  border-radius: .5em;
}

header .header-box .header-button a {
  text-decoration: none;
  color: white;
}

.home-previews {
  display: -ms-grid;
  display: grid;
  margin: auto;
  padding: 1em;
  margin-bottom: 1em;
  width: 900px;
  background-color: #fff9f0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.home-previews div {
  background-color: white;
  width: 90%;
  padding: .75em;
  margin: auto;
}

.home-previews div .box {
  display: block;
  background-color: #fff9f0;
  width: 90%;
  height: 300px;
  margin: auto;
}

.home-previews div .preview-text {
  display: block;
  background-color: #fff9f0;
  width: 90%;
  height: 40px;
  margin: auto;
  margin-top: 10px;
}

.profile-self {
  display: -ms-grid;
  display: grid;
  margin: 1em auto;
  padding: 1em;
  width: 900px;
  background-color: #fff9f0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      grid-template-areas: "a b" "c c";
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 350px auto;
      grid-template-rows: 350px auto;
  grid-gap: 15px;
}

.profile-self .profile-upsecA {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  background-color: #fff9f0;
}

.profile-self .profile-upsecA .profile-img {
  width: 200px;
  height: 200px;
  margin-top: -10px;
  padding-right: 10px;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.profile-self #change-profile-image {
  margin-top: 20px;
}

.profile-self .profile-upsecB {
  background-color: #fff9f0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.profile-self .profile-upsecB .profile-stats {
  margin: 10px 0;
}

.profile-self .profile-upsecB .profile-stats .profile-name {
  font-size: 25px;
  padding: .5em 0;
}

.profile-self .profile-upsecB .profile-stats .profile-email p {
  font-size: 20px;
}

.profile-self .profile-upsecB .profile-stats .aboutme-section {
  padding: 1em;
}

.profile-self .profile-lowsec {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: c;
  background-color: #fff9f0;
}

.profile-self .profile-lowsec .profile-cake-grid-title {
  padding: 1em;
  font-size: 20px;
}

.profile-self .profile-box {
  margin: 1em auto;
  width: 85%;
  height: 100px;
  background-color: #fff9f0;
}

.profile-img img {
  width: 200px;
}

.cake-page {
  display: -ms-grid;
  display: grid;
  position: relative;
  margin: auto;
  padding: 1em;
  margin-top: 7em;
  margin-bottom: 1em;
  width: 900px;
  background-color: #fff9f0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      grid-template-areas: "d s" "c c";
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 15px;
}

.cake-top-section {
  display: block;
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  height: 200px;
  width: 930px;
  top: -70px;
  right: -20px;
}

.cake-image {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: lightblue;
  width: 190px;
  height: 190px;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cake-title {
  position: absolute;
  top: 50px;
  z-index: 2;
  background-color: burlywood;
  width: 800px;
  height: 90px;
  border-radius: 3em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cake-title h2 {
  font-size: 2em;
  color: white;
  margin-left: 30px;
  margin-top: 25px;
}

.cake-details {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: d;
  padding-top: 150px;
  background-color: #fff9f0;
  height: 100%;
}

.cake-details li {
  font-size: 15px;
  margin: 1em;
}

.cake-difficulty-rating {
  font-size: 18px;
  color: white;
  margin-left: 35px;
}

.cake-stats {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: s;
  margin-left: 2em;
  padding-top: 150px;
  background-color: #fff9f0;
  height: 100%;
}

.cake-stats li {
  font-size: 15px;
  margin: .5em;
  list-style: none;
}

.cake-comments {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: c;
  background-color: #fff9f0;
  padding: 1em;
}

.cake-comments .form-group {
  padding: 1em;
}

.cake-comments .comments {
  margin: 10px auto;
  width: 96%;
  height: 60px;
  border-radius: .3em;
  background-color: #fff9f0;
  padding: 1em;
}

.cake-comments ul {
  list-style-type: circle;
}

.cake-comments ul li {
  margin: 1em 0;
}

.cake-creator-box {
  z-index: 2;
  padding: 1em;
  margin-top: -67px;
  margin-left: 420px;
  width: 300px;
  height: 75px;
  background-color: white;
  border-radius: 2em;
}

.cake-creator-box .creator-image {
  float: left;
  margin-top: -13px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.cake-creator-box .creator-details {
  margin-top: -10px;
  float: right;
  width: 150px;
}

.cake-creator-box .creator-details .creator-subtitle {
  margin-top: 5px;
  font-size: 13px;
}

.cake-submission-container {
  margin: 1em auto;
  background-color: #fff9f0;
  width: 900px;
  padding: 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.register-container {
  margin: 1em auto;
  background-color: #fff9f0;
  width: 900px;
  padding: 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.register-container .register-title-section {
  padding: 1em 0;
  padding-bottom: 2em;
}

.register-container h1 {
  font-size: 1.5em;
}

.register-container h1, .register-container h3 {
  font-family: "Varela Round";
}

.modal {
  font-family: "Varela Round";
}

.form-group {
  font-family: "Varela Round";
}

.modal-title {
  font-family: "Varela Round";
}

.header-box {
  font-family: "Varela Round";
}

.hidden-form, .imgbb-container {
  display: none;
}

#image-preview {
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
  margin: 1em 0;
}

#profile-image-file {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 200px;
  margin: 1em 0;
}

.ingredient-entry, .instruction-entry {
  padding: 1em 0;
}

.original-userbio {
  padding: 1em 0;
}

.error-container div {
  background-color: #fff9f0;
  border-radius: .5em;
}

.error-container div h1 {
  color: #3f2700;
}

.cake-preview-container {
  width: 100%;
  height: 300px;
  margin: 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cake-preview-container .cake-imgcontainer {
  background-color: grey;
  height: 175px;
  width: 90%;
}

.profile-cake-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.profile-cake-grid .profile-cake-preview-container {
  background-color: white;
  width: 200px;
  height: 300px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.profile-cake-grid .profile-cake-preview-container .profile-cake-imgcontainer {
  margin: auto;
  margin-top: 20px;
  width: 180px;
  height: 200px;
}

.profile-cake-grid .profile-cake-preview-container .profile-cake-textcontainer {
  margin-top: 10px;
  text-align: center;
}

.profile-cake-grid .profile-cake-preview-container .profile-cake-textcontainer h3 {
  font-size: 18px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 942px) {
  body {
    min-width: 560px;
  }
  header {
    width: 90%;
  }
  .home-previews {
    width: 90%;
  }
  .profile-self {
    width: 90%;
  }
  .cake-page {
    width: 90%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "s" "d" "c";
  }
  .cake-submission-container {
    width: 90%;
  }
  .register-container {
    width: 90%;
  }
  .cake-top-section {
    display: block;
    z-index: 2;
    position: absolute;
    margin: 0 auto;
    height: 200px;
    width: 100%;
    top: -70px;
    right: -20px;
  }
  .cake-title {
    left: -30px;
    width: 100%;
  }
  .home-previews {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .cake-details {
    padding-top: 0;
  }
  .cake-stats {
    padding-top: 90px;
  }
  .cake-creator-box {
    display: none;
  }
  .profile-self {
    -ms-grid-rows: 500px auto;
        grid-template-rows: 500px auto;
  }
  .profile-cake-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */